.container {
    background-color: #ECF2FF;
    width: 400px;
    height: 600px;
}
.imageDiv{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
}
.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.divElc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}