.container {
    background-color: #20b837;
    width: 300px;
    height: 550px;
}
.imageDiv{
    background-color: #a8dcee;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
}
.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.divElc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
header {
    background-color: #ECF2FF;
    height: 110px;
    position: relative;
    top: -32px;
    width: 100%;
}
h1 {
    justify-content: center;
    font-size: 50px;
    display: flex;
    top: 30px;
    position: relative;
}
nav {
    gap: 10px;
    display: flex;
    justify-content: right;
    top: -40px;
    position: relative;
    left: -10px;
    font-size: 15px;
}
img {
    position: absolute;
    width: 150px;
    height: 100px;
    border-radius: 40%;
    top: 1px;
}
footer {
    background-color: #E5D1FA;
    height: 100px;
    width: 100%;
    position: relative;
    
}
mg#img2 {
    position: static;
    width: 150px;
    height: 100px;
    border-radius: 40%;
    
}
div#copy-rights {
    font-size: larger;
    display: flex;
    justify-content: center;
    top: 65px;
    position: relative;
}
p {
    font-size: larger;
    display: flex;
    justify-content: right;
    position: relative;
    /* top: 0px; */
    bottom: 50px;
    right: 25px;
}